node_modules
npm-debug.log
.DS_Store
.git
.env
.env.*
.vscode
.idea
*.log
logs
uploads
coverage
backups
# 如果有 admin-ui 前端源码
admin-ui/node_modules
admin-ui/.js
admin-ui/.css
admin-ui/dist
